<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miviclin.droidengine2ddemos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.miviclin.droidengine2ddemos.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.rectangle.basic.RectanglesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.rectangle.rotation.basic.BasicRotationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.rectangle.rotation.anchorpoint.AnchorPointRotationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.text.customfonts.CustomFontsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.material.blendingoptions.BlendingOptionsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.material.color.ColorMaterialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.material.texture.TextureMaterialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.material.texturecolor.TextureColorMaterialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.material.texturehsv.TextureHsvMaterialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.material.transparenttexture.TransparentTextureMaterialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.input.touch.TouchInputDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.input.key.KeyInputDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.input.accelerometer.AccelerometerDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.gamestate.switching.GameStateSwitchingDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.gamestate.stacking.GameStateStackingDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.textureregion.TextureRegionFlippingDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.audio.musicplayback.MusicPlaybackDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.audio.soundplayback.SoundPlaybackDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.animation.loopmodeenabled.AnimationLoopEnabledDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.animation.loopmodedisabled.AnimationLoopDisabledDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.batchrendering.singlematerial.SingleMaterialBatchRenderingDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.batchrendering.multiplematerials.MultipleMaterialsBatchRenderingCase1DemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.batchrendering.multiplematerials.MultipleMaterialsBatchRenderingCase2DemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
        <activity
            android:name="com.miviclin.droidengine2ddemos.batchrendering.multiplematerials.MultipleMaterialsBatchRenderingCase3DemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen" >
        </activity>
    </application>

</manifest>